* {
    font-size: 22px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #b48866;
    padding: 20px;
    font-size: 30px;
}

header > * {
    display: flex;
    flex: 1;
}

a:hover {
    font-weight: bold;
}

.logo {
    justify-content: flex-start;
}

.nav {
    flex: 2;
    justify-content: center;
}

.nav *,a {
    color: black;
}

.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin-right: 50px;
}

.nav .active {
    font-weight: bold;
}

.user {
    justify-content: flex-end;
}

