:root {
  --main-border-color: rgb(223, 223, 223);;
}

button {
  cursor: pointer;
  background: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  border: 1px solid #dfe1e6;
  padding: 20px;
  margin: 0 0 20px;
}
h1,
h2,
h3,
h4,
h5,
label,
button,
p,
span,
a {
  color: #1f2667;
  letter-spacing: 0.1em;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.navigation {
  text-align: center;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.board-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.board-controls {
  width: 400px;
  margin-top: 20px;
}

.board-controls label,
.collection-content label {
  display: flex;
  font-size: 20px;
  flex-direction: column;
}

.board-controls button,
.collection-content button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.board-controls select {
  border: 1px solid var(--main-border-color);
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-appearance: none;
}

.board-controls input,
.collection-content input {
  margin: 10px 0 40px;
  font-size: 20px;
  padding: 5px;
}

.search-exercises {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  max-width: 80%;
  margin: 0 auto 50px;
}

.search-new-exercise button {
  height: 50px;
  transition: background-color 0.1s;
}

.search-sets button {
  height: 50px;
  transition: background-color 0.1s;
}

.exercise-description {
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.exercise-tags {
  min-height: 18px;
}

.exercise-tags .tag {
  margin-right: 15px;
  font-size: 14px;
}

.exercise-tags .tag::after {
  content: '';
  width: 5px;
  height: 5px;
  left: 5px;
  bottom: 3px;
  background-color: grey;
  border-radius: 100%;
  display: inline-block;
  position: relative;
}

.exercise-tags .tag:last-of-type::after {
  display: none;
}

.tag-form input {
  display: inline-block;
}

.tag-form .add-exercise-tag {
  width: 200px;
}

.exercise-description h3 {
  margin: 0 0 5px;
  white-space: nowrap;
}

.search-sets button:hover,
.search-exercises button:hover {
  color: white;
  background-color: #1f2667;
}

.search-item {
  position: relative;
  margin-top: 10px;
  align-items: center;
  margin: 20px;
}

.search-sets .search-item {
  justify-content: center;
}

.search-select-box {
  position: absolute;
  right: -5px;
  top: -5px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  padding: 0;
}

.search-select-box-inner {
  transition: background-color 0.3s;
  border-radius: 100%;
  border: 2px solid #686d99;
  width: 18px;
  height: 18px;
  background-color: white;
}

.search-select-box.is-selected .search-select-box-inner{
  background-color: #686d99;
}

.search-toolbar {
  display: none;
}

.search-toolbar.is-active {
  border-top: 1px solid #dfe1e6;
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 12px 0px 0px rgba(0,0,0,0.16), 12px 3px 6px rgba(0,0,0,0.23);
}

.search-toolbar input,
.search-toolbar button {
  height: 50px;
  box-sizing: border-box;
  padding: 10px;
  margin-right: 10px;
}

.search-toolbar button {
  padding: 10px;
  font-size: 16px;
}

.search-toolbar p {
  margin: auto 10px;
}

.search-toolbar label,
.search-toolbar input {
  font-size: 16px;
}

.collection-content {
  max-width: 80%;
  margin: 0 auto 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  
}

.collection-exercises {
  display: grid;
  grid-template-columns: calc(100% / 3 - 10px)  calc(100% / 3 - 10px)  calc(100% / 3 - 10px);
  grid-gap: 10px;
}

.collection-exercises img {
  max-width: 100%;
  height: auto;
}

.collection-exercise {
  position: relative;
}

.edit-icon {
  position: absolute;
  right: -5px;
  top: -5px;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 100%;
  top: -5px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.edit-icon:hover {
  box-shadow: -1px 0px 7.5px 0px rgba(0,0,0,0.5);
}

.edit-icon.left {
  left: calc(50% - 30px);
  transform: rotate(180deg);
}

.edit-icon.right {
  right: calc(50% - 30px);
}

.collection-pdf-link {
  width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--main-border-color);
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
}

.quick-search {
  display: none;
}

.quick-search.is-active {
  display: block;
  position: sticky;
  bottom: 0;
  margin-top: 10px;
  border-top: 1px solid #dfe1e6;
  background-color: white;
}

.quick-search-content {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-flow: row;
  padding: 40px 0;
}

.quick-search-exercise-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.quick-search-content img {
  width: 150px;
  height: 150px;
}


.quick-search button {
  margin: 10px 0;
  max-width: 200px;
}

.quick-search-close {
  position: absolute;
  left: 10px;
  top: 10px;
}

.search-sets-preview {
  text-align: left;
  width: 158px;
  height: 158px;
}

.search-sets-preview img {
  width: 75px;
  height: 75px;
  margin: 0 2px;
}

.exercise-filters {
  width: 100%;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 30px;
}

.exercise-filters .text-search {
  display: flex;
  align-items: center;
}

.exercise-filters .text-search-input {
  width: 300px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--main-border-color);
}

.difficulty-search {
  margin-top: 16px;
}

.difficulty-search .name {
  color: gray;
  font-style: italic;
}

.exercise-filters img {
  width: 20px;
  margin-left: -20px;
}

.exercise-filters .search-cross {
  width: 10px;
  padding-right: 10px;
}

.exercise-filters .search-cross:hover {
  cursor: pointer;
}

.collection-bottom-bar {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
}

.add-exercises-button {
  display: block;
  padding: 10px;
  border-top: 1px solid var(--main-border-color);
  border-left: 1px solid var(--main-border-color);
  width: 100%;
  background-color: white;
  box-shadow: 12px 0px 0px rgba(0,0,0,0.16), 12px 3px 6px rgba(0,0,0,0.23);
}

.add-exercises-button:hover {
  box-shadow: 12px 0px 0px rgba(0,0,0,1), 12px 3px 6px rgba(0,0,0,1);
}
