body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
  height: 100%;
}

.board-piece {
  width: 80px;
  height: 80px;
  display: inline-block;
}

.board-piece * {
  max-width: 80px;
  max-height: 80px;
}

.board-piece img {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.is-active:not(.search-toolbar):not(.quick-search) * {
  width: 10px;
  height: 10px;
}

.board-row {
  height: 80px;
}

.board-piece-light {
  background-color: #efd9b7;
}

.board-piece-dark {
  background-color: #b48866;
}

.board-reversed > .board-outer-container > .board-container,
.board-reversed .board-piece img {
  transform: rotate(180deg);
}

.board-outer-container .save-button {
  padding: 10px;
  margin: 0 10px;
}

.save-button,
.lichess-link {
  background-color: white;
  border: 1px solid rgb(223, 223, 223);
}

.save-button.is-saving {
  font-size: 20px;
}

.save-button.is-saving:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026'; /* ascii code for the ellipsis character */
  width: 0px;
}

.lichess-link {
  font-size: 11px;
  padding: 10px;
  margin: 0 10px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.save-button:hover,
.collection-pdf-link:hover {
  transition: box-shadow 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.search-sets {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  max-width: 80%;
  margin: 0 auto 50px;
}

.search-sets a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
